@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

:root {
  --color-primary: #2378a5;
  --color-secondary: #2e98a2;
  --color-dark: #3b4a55;
  --color-light: #e8d0db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smooch Sans";
  color: var(--color-dark);
}

a {
  text-decoration: none;
}

header {
    height: 80px;
}

/* clase personalizada */

.hero-section {
  background-color: #3b4a55;
  min-height: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  /* gap: 1rem;
  padding: 1rem; */
  transition: all 0.3s ease;
}

.hero-section:hover {
  transform: scale(1.02);
}